body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.head-style {
  border-bottom: 1px solid #e7e9fc;
}

.nav-style .logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-style .logo .logo-color {
  color: #2e2f42;
}

.nav-style .nav-menu .nav-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.nav-style .nav-menu .nav-menu-link:hover,
.nav-style .nav-menu .nav-menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts .con-style .mail-style {

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
}

.contacts .con-style .mail-style:hover,
.contacts .con-style .mail-style:focus {
  color: #404bbf;
}

.nav-menu,
.con-style,
.nav-style,
.head {
  display: flex;
  align-items: center;
}

.nav-menu,
.con-style {
  gap: 40px;
}

.nav-menu {
  margin-right: 332px;
}

.title {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}

.title .page-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.title .button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
}

.title .button:hover,
.title .button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advan .advan-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advan .advan-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.advan-list {
  display: flex;
  gap: 24px;
}

.list {
  width: calc((100% - 3*24px)/4);
}

.team {
  background-color: #f4f4fd;
}

.team .team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team .team-list {
  background-color: #fff;
  width: calc((100% - 3*24)/4);
  border-radius: 0 0 4px 4px;
}

.box {
  padding: 32px 0;
}

.team .advan-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team .advan-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-box {
  display: flex;
  gap: 24px;
}

.portfolio-box {
  width: calc((100% - 2*24)/3);
}

.port-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio .advan-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio .advan-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.foot-style {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.foot-style .logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.foot-style .logo .logo-color {
  color: #f4f4fd;
}

.foot-style .advan-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}